[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
torch = "*"
torchvision = "*"
jupyter = "*"
papermill = "*"
allennlp = "*"

[dev-packages]

[requires]
python_version = "3.6"
